* {
    margin: 0;
    padding: 0;
}
p {
	margin: 5px;
	font-size: 20px;
}
.underline {
	text-decoration: underline;
}
div {
	margin: 5px 5%;
	padding: 5px;
    background-color: #FFF5EE;
	border: 2px solid gray;
	transition-duration: .3s;
}
div:hover {
	box-shadow: 5px 3px 3px gray;
	transition-duration: .3s;
}
h1 {
	text-align: center;
	color:  white;
	display: block;
	margin: 3px 40%;
	padding: 2px 15px;
	background-color: #4169E1;
	border: 1px solid black;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
}
h2 {
	display: inline-block;
	margin: 1px 3%;
	padding: 0 5px;
	font-size: 20px;
	border: 1px solid black;
	background-color: white;
}
.complete {
	display: inline-block;
	background-color: green;
	padding: 2px 15px;
	margin: 5px;
	color: white;
	border: 1px solid black;
	text-shadow: 1px 1px 5px black;
	box-shadow: 5px 3px 3px #C0C0C0;
}
.task2 {
	overflow-x:hidden;
	margin: 5px 5%;
	padding: 5px;
    background-color: white;
	border: 1px solid black;
	height: 200px;
}
table {
	border-collapse: collapse;
	border: 1px solid black;
}
td {
	border: 1px solid black;
	padding: 2px;
	font-size: 20px;
}